<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Books</title>
</head>
<body>
    <header th:replace="~{base :: header}"></header>
    <h1>Available Address Books</h1>
    <hr>
    <div>
        <strong>Actions:</strong><br><br>
        <form action="/view/" method="get">
            <button type="submit" formaction="/view/create-addressbook-form">Create address book</button><br><br>
            <button type="submit" formaction="/view/add-buddy-form">Add buddy to address book</button><br><br>
            <button type="submit" formaction="/view/buddies-form">View buddies in address book</button><br><br>
            <button type="submit" formaction="/view/remove-buddy-form">Remove buddy in address book</button><br><br>
        </form>
    </div>
    <hr>
    <table border="1">
        <tr>
            <th>Address Books</th>
        </tr>
        <tr th:each="addressBook: ${addressBooks}">
            <td th:text="${addressBook.name}"></td>
        </tr>
    </table>
</body>
</html>