<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buddy Infos</title>
</head>
<body>
<header th:replace="base :: header"></header>
<h1 th:text="|${addressBook} Buddies|"></h1>
<p>  </p>
<hr>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Contact</th>
        <th>Address</th>
    </tr>
    <tr th:each="buddy: ${buddies}">
        <td th:text="${buddy.id}"></td>
        <td th:text="${buddy.firstname}"></td>
        <td th:text="${buddy.lastname}"></td>
        <td th:text="${buddy.number}"></td>
        <td th:text="${buddy.address}"></td>
    </tr>
</table>
</body>
</html>