<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get buddies form</title>
</head>
<body>
    <header th:replace="base :: header"></header>

    <h2>Get address book buddies</h2>
    <hr>
    <form action="/view/buddies" method="get">
        <label for="addressBookName">Choose an address book: </label>
        <select id="addressBookName" name="addressBookName">
            <option th:each="a : ${addressbookNames}" th:value="${a.name}" th:text="${a.name}"></option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>